/*structural elements*/

body{ 
	font-family:Arial;

				}

header{
	padding:5px;
	width:100%;
	margin:auto;
	text-align: center;
	background:#122266
				}

main{
	color:#025E73;
	padding:15px;
	width:100%;
	margin:10px;
				}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

section{
		color:blue;
		padding:15px;
		width:100%
		display: block;
}


.grid-item{
  margin: auto;
}
.container {
	background:white;
	padding:5px;
	spacing:0px:
	
				}

table {
  width: 150%;
}

th {
  height: 70px;
}


div{
		background:lightblue;
					}

footer {

	background: skyblue;
	padding:5px;
	text-align:center;		
				}

nav{
	color:darkblue;
	padding:5px;
	width:80%;
	margin:auto;
				}

#main-nav li{
	list-style-type:none;
	padding: 5px;
	
				}

#main-nav ul{ padding-left:0px
				}

#main-nav a{ display:block
	}



#main-nav a{ 
	text-align:left;
	text-decoration:none;
	background:#33A3D4;
	color: white;
	padding: 5px; 

	}
#main-nav a:hover{	background:pink;
		  }

.grid-container {
  display: grid;
  column-gap: 10px;
}

.grid-container {
  display: inline-grid;
}
}

/*COLUMNS*/

.columns{
		display: flex;
		display: inline;
				}

.columns{
		padding:5px;
		margin:5px;
		border:1px solid black;
				}

.two-cols{
		padding:5px;
		flex:1;
				}
.one-third{

		padding:5px;
		flex:1;
				}

.two-thirds{

		padding:5px;
		flex:1;
				}
.four-fifths{ 
		flex:0;	
	}

.one-fifth{ 
		flex:0;	
	}




		
/*Typography*/

h1 {
  color:darkblue;
  text-align: center;
	}
#liv { color: #ADD8E6;
}

h3{
padding:30px;
text-align:left;
color: lightblue;}

/*larger resolutions*/

@media(min-width:720px) {
header, footer, #main-content{
	width:80%;
	margin:auto;
	}

div{
		background:lightblue}
main{
		background:
					}

table {
  width: 150%;
}

body {
 background-image: url("images/background.jpeg");
 
}

/*Gallery*/

.gallery{
		display: grid;
		grid-template-columns:repeat(auto-fill, 300px);
		grid-gap:0px;
		text-align: center;
		padding:15px;
		margin: auto;
		width:80%;
		}
.gallery img{
		max-width:100%;
}

#main-nav li{
	 display:inline;
	}

#main-nav a{ 
		display: inline;
	}



div {
	background:#B3DBF0;
	padding:3px;
	margin-top: 10px;
	margin-bottom: 10px:
	spacing:5px:
				}




.grid-item{

  border: 5px solid;
  margin: auto;
  padding: 10px;
}




@media-print{
body{
	font-family:serif;
	}

header, nav, footer{
	display: none;
	}
	
header,footer, #main-content{
	width:100%;
	}
}
 
  
  